* {
  padding: 0;
  margin: 0;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
body {
  margin: 0px auto;
  .banner-area {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    //width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    h3 {
      color: #fff;
    }
    p {
      color: #e2e2e2;
    }
  }
  .courses-area {
    height: 440px;
    .before-btn{
      content: '\2039';
      color: #000;
      position: relative;
      background: #e2e2e2;
      top: 241px;
      left: -45px;
      width: 30px;
      padding-bottom: 4px;
      text-align: center;
      cursor: pointer;
      border-radius: 2px;
      font-size: 40px;
    }
     .after-btn{
      content: '\203A';
      border-radius: 2px;
      color: #000;
      width: 30px;
      padding-bottom: 4px;
      font-size: 40px;
      background: #e2e2e2;
      left: 101.5%;
      position: relative;
      bottom: 211px;
      text-align: center;
      cursor: pointer;
    }
    .after-before-btns .after-btn:hover, .after-before-btns .before-btn:hover{
      background-color: #c3c0c0;
      transition: all linear 0.3s;
    }
    .course-layout {
      height: 400px;
      .owl-stage {
        height: 300px;
      }
      padding-top: 20px;
      .box {
        margin: 5px;
        box-shadow: 0px 1px 1px 1px #e2e2e2;
        padding: 15px 10px;
        width: 240px;
        img {
          width: 100%;
        }
        p {
          margin: 0px;
        }
        h5.price {
          text-align: right;
        }
      }
    }
  }
}
footer {
  ul, li {
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
    li.head {
      font-weight: bold;
    }
  }
}
@media only screen and (max-width: 768px) {
  .courses-area {
    .before-btn, .after-btn {
      display: none;
    }
  }
}
@media only screen and (max-width: 600px) {
    .container .banner-area {
      display: none;
  }
}

//
